@model IEnumerable<FlashCard.Models.Deck>

@{
    ViewData["Title"] = "UserIndex";
}
<style>
    .deckCus{
        background: var(--secondary);
        border: 2px solid var(--accent-dark);
        color: white;
    }

    .deckCus:hover{
            border-bottom: 6px solid var(--accent-dark);
            cursor:pointer;
            transform: translateY(-6px);
            box-shadow: 0 30px 80px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(212, 175, 55, 0.3), inset 0 0 100px rgba(255, 255, 255, 0.2);
        }

</style>
<div>
    <h3 class="mb-4" style="color:var(--accent-dark)">Your Decks</h3>
    @foreach (var item in Model)
    {
        <div class="d-flex flex-row p-1 px-3 rounded-3 mb-3 deckCus align-items-center justify-content-between">
            <a asp-action="Details" asp-route-id="@item.DeckId" class="text-decoration-none w-100 text-white">
                <div class="d-flex flex-column ">
                    <div class="fs-6">
                        @item.Flashcards.Count() flash card
                    </div>
                    <div class="fs-5">
                        <i class="bi bi-folder"></i>
                        @Html.DisplayFor(modelItem => item.DeckName)
                    </div>
                </div>
            </a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="setDeleteId('@item.DeckId','@item.DeckName')"> 
                Delete
            </button>
        </div>
    }
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h1 class="fs-5">Are you sure you want to delete  </h1>
                <span id="titleDeck" class="fs-4"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="id" id="deleteId" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function setDeleteId(id,title){
        document.getElementById("deleteId").value = id;
        document.getElementById("titleDeck").innerText = title;
    }
</script>