@model IEnumerable<FlashCard.Models.Flashcard> 

@{
    ViewData["Title"] = "UserIndex";
}
<style>
    .cardCus{
        border: 2px solid var(--secondary-dark);
        margin-bottom: 10px;
    }

    .cardCus:hover {
        transform: translateY(-6px);
        box-shadow: 0 30px 80px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(212, 175, 55, 0.3), inset 0 0 100px rgba(255, 255, 255, 0.2);
    }
</style>
<h3 class="mb-4" style="color:var(--accent-dark)">List Flash Card</h3>

<div class="row ">
@foreach (var item in Model)
{
    <div class="card cardCus col-5 mx-auto pe-3 rounded-3 ps-1">
        <div class="card-body row align-items-center">
            <div class="col-md-9">
                <div class="d-flex flex-col ">
                        <a asp-action="Details" asp-route-id="@item.CardId" class="text-decoration-none text-black">
                    <div class="fs-6">
                            @if (item.IsPublic == true)
                            {
                                <span>🌍</span>
                            }
                            else
                            {
                                <span>🔒</span>

                            }
                            @Html.DisplayFor(modelItem => item.CardPairs.Count) terms 
                            |@Html.DisplayFor(modelItem => item.Deck.DeckName)
                    </div>
                    <div class="fs-4">
                        @Html.DisplayFor(modelItem => item.CardTitle)
                    </div>
                    </a>
                </div>
            </div>
            <div class="col col-md-3 d-flex justify-content-end">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="setDeleteId('@item.CardId','@item.CardTitle')">
                    Delete
                </button>
            </div>
        </div> 
    </div>
}
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h1 class="fs-5">Are you sure you want to delete  </h1>
                <span id="titleCard" class="fs-4"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form  asp-action="Delete" method="post">
                     <input type="hidden" name="id" id="deleteId" /> 
                    <input type="submit" value="Delete" class="btn btn-danger" /> 
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function setDeleteId(id,title){
        document.getElementById("deleteId").value = id;
        document.getElementById("titleCard").innerText = title;
    }
</script>